// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=53e0Y0kodkcb8v3iDp1u9f3GJ9B */

// As hex codes */

$color-primary-0: #369689;	// Main Primary color */
$color-primary-1: #8CD2C8;
$color-primary-2: #58B0A4;
$color-primary-3: #1F8779;
$color-primary-4: #0E6C5F;

$color-secondary-1-0: #43659E;	// Main Secondary color (1) */
$color-secondary-1-1: #96AED6;
$color-secondary-1-2: #6583B7;
$color-secondary-1-3: #2B508F;
$color-secondary-1-4: #183A73;

$color-secondary-2-0: #5EC748;	// Main Secondary color (2) */
$color-secondary-2-1: #ABEB9D;
$color-secondary-2-2: #81DC6E;
$color-secondary-2-3: #41B329;
$color-secondary-2-4: #299013;

// As RGBa codes */
$rgba-primary-0: rgba( 54,150,137,1);	// Main Primary color */
$rgba-primary-1: rgba(140,210,200,1);
$rgba-primary-2: rgba( 88,176,164,1);
$rgba-primary-3: rgba( 31,135,121,1);
$rgba-primary-4: rgba( 14,108, 95,1);

$rgba-secondary-1-0: rgba( 67,101,158,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(150,174,214,1);
$rgba-secondary-1-2: rgba(101,131,183,1);
$rgba-secondary-1-3: rgba( 43, 80,143,1);
$rgba-secondary-1-4: rgba( 24, 58,115,1);

$rgba-secondary-2-0: rgba( 94,199, 72,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(171,235,157,1);
$rgba-secondary-2-2: rgba(129,220,110,1);
$rgba-secondary-2-3: rgba( 65,179, 41,1);
$rgba-secondary-2-4: rgba( 41,144, 19,1);

