input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    animation-name: autofill;
    animation-fill-mode: both;
    text-decoration: none;
}

.form-control[readonly] {
    background-color: transparent;
}

@keyframes autofill {
    to {
        background: transparent;
    }
}